.circle {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    color: #000;
  }
  .total {
    padding: 1rem;
    width: 70px;
    height: 70px;
    border: 4px #3073f0 solid;
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .porcent {
    text-align: center;
  }
}
