
.circle {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 6px;
  border-radius: 10px;
  .title {
    color: #3073f0;
  }

  
  .porcent {
    width: 70px;
    height: 70px;
    color: #3073f0;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin: 0;
  }

  .progress {
    margin: 0 0 1rem 0;
    width: 150px;
    height: 12px;
    border-radius: 10px;
    background-color: #acacac;

    &>div {
      height: 12px;
      border-radius: 10px;
      background-color: #e57d00;
    }

  }
  

  .total {
    font-size: 1.3em;
    text-align: center;
    color: #e57d00;
    font-weight: 600;
  }
}
