.Create_sticker {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    background-image: url("https://images.unsplash.com/photo-1614935151651-0bea6508db6b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=925&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.Create_sticker .sticker_container {
    background-color: rgba(20, 20, 20, 0.664);
    border-radius: 10px;
    padding: 0 1.2rem;
}

.Create_sticker .sticker_container .back_btn_container {
    margin-bottom: 0.3rem;
}

.Create_sticker .sticker_container .back_btn_container .back_btn {
    color: #fff;
    font-size: clamp(14px, 1.1rem, 1.3rem);
    text-decoration: none;
    position: relative;
    margin-left: -0.8rem;
}

.Create_sticker .sticker_container .back_btn_container .back_btn::before {
    content: "<";
    font-size: 2.8rem;
    left: 0;
    top: 0;
    color: #e57d00;
    font-weight: bold;
}

.Create_sticker .sticker_container .title {
    font-size: clamp(20px, 1.4rem, 1.5rem);
    color: #fff;
    margin-bottom: 0.5rem;
    text-align: center;
    text-shadow: 0px 3px 6px #120805;
}

.Create_sticker .sticker_container .card {
    position: relative;
    background-color: white;
    max-width: 90%;
    min-width: 260px;
    margin: auto;
    padding: 0.5rem 0.7rem;
    bottom: 10px;
    border-radius: 10px;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .sticker_title {
    font-size: clamp(14px, 1rem, 1.2rem);
    color: #4b73bd;
    margin-bottom: 0.3rem;
    margin-left: 1rem;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container .sticker_figure {
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: #cccccc;
    border-radius: 10px;
    text-align: center;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container .sticker_figure .img_camera {
    margin-top: 16px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .sticker_status .status_title {
    color: #4b73bd;
    font-size: clamp(14px, 1rem, 1.2rem);
    text-transform: capitalize;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .sticker_status input[type=checkbox] {
    height: 15px;
    width: 15px;
    margin: 0;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 0.8rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group {
    width: 100%;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group .group_title {
    font-size: clamp(13px, 0.6rem, 1.2rem);
    color: #4b73bd;
    text-transform: capitalize;
    font-weight: 700;
    display: block;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group .group_input {
    padding: 0.2rem 0.2rem 0.2rem 0.6rem;
    color: #56565a;
    border-radius: 5px;
    border: solid 1px #a5a5a5;
    width: 90%;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group select {
    width: 90%;
    color: #56565a;
    border-radius: 5px;
    padding: 0.2rem 0;
    padding-left: 7px;
    border: solid 1px #a5a5a5;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group textarea {
    padding: 0.2rem 0.2rem 0.2rem 0.6rem;
    color: #56565a;
    border-radius: 5px;
    border: solid 1px #a5a5a5;
    width: 90%;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .btn_container_send {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .btn_container_send .btn_send {
    width: 160px;
    padding: 0.5rem 1rem;
    background-color: #e57d00;
    border: none;
    color: white;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 14.5px;
}

.Create_sticker .sticker_container .card .stickers_container .card_sticker .btn_container_send .btn_cancel {
    width: 120px;
    padding: 0.5rem 1rem;
    background-color: #d7d0d0;
    border: none;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 14.5px;
    display: block;
    text-decoration: none;
    text-align: center;
}

@media (min-width: 425px) {
    .Create_sticker .sticker_container {
        border-radius: 10px;
        padding: 0 1.4rem;
    }

    .Create_sticker .sticker_container .back_btn_container {
        margin-bottom: 0.3rem;
    }

    .Create_sticker .sticker_container .back_btn_container .back_btn {
        color: #fff;
        text-decoration: none;
        position: relative;
        margin-left: -0.8rem;
    }

    .Create_sticker .sticker_container .back_btn_container .back_btn::before {
        content: "<";
        left: 0;
        top: 0;
        color: #e57d00;
        font-weight: bold;
    }

    .Create_sticker .sticker_container .title {
        color: #fff;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .Create_sticker .sticker_container .card {
        position: relative;
        height: unset;
        background-color: white;
        max-width: 90%;
        min-width: 300px;
        margin: auto;
        padding: 0.7rem 0.7rem;
        bottom: 10px;
        border-radius: 10px;
        width: clamp(100%, 60%, 300px);
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .sticker_title {
        font-size: clamp(14px, 1rem, 1.2rem);
        color: #4b73bd;
        margin-bottom: 0.3rem;
        margin-left: 1rem;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container .sticker_figure {
        margin: 0;
        width: 130px;
        height: 60px;
        background-color: #cccccc;
        border-radius: 10px;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container .sticker_figure .img_camera {
        margin-top: 16px;
        width: 24px;
        height: 24px;
        object-fit: cover;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .sticker_status .status_title {
        color: #4b73bd;
        font-size: clamp(14px, 1rem, 1.2rem);
        text-transform: capitalize;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group .group_title {
        font-size: clamp(13px, 0.6rem, 1.2rem);
        color: #4b73bd;
        text-transform: capitalize;
        font-weight: 700;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group .group_input {
        padding: 0.2rem 0.2rem 0.2rem 0.6rem;
        color: #56565a;
        border-radius: 5px;
        border: solid 1px #a5a5a5;
        width: 90%;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .btn_container_send {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .btn_container_send .btn_send {
        width: 160px;
        padding: 0.5rem 1rem;
        background-color: #e57d00;
        border: none;
        color: white;
        letter-spacing: 1px;
        border-radius: 5px;
        font-size: 14.5px;
    }
}

@media (min-width: 550px) {
    .Create_sticker .sticker_container {
        border-radius: 10px;
        padding: 0 1.4rem;
    }

    .Create_sticker .sticker_container .back_btn_container {
        margin-bottom: 0.3rem;
    }

    .Create_sticker .sticker_container .back_btn_container .back_btn {
        color: #fff;
        text-decoration: none;
        position: relative;
        margin-left: -0.8rem;
    }

    .Create_sticker .sticker_container .back_btn_container .back_btn::before {
        font-size: 1.8rem;
        left: 0;
        top: 0;
        color: #e57d00;
        font-weight: bold;
    }

    .Create_sticker .sticker_container .title {
        color: #fff;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .Create_sticker .sticker_container .card {
        position: relative;
        height: unset;
        background-color: white;
        max-width: 90%;
        min-width: 400px;
        margin: auto;
        padding: 0.7rem 0.7rem;
        bottom: 10px;
        border-radius: 10px;
        width: clamp(100%, 60%, 300px);
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .sticker_title {
        font-size: clamp(14px, 1rem, 1.2rem);
        color: #4b73bd;
        margin-bottom: 0.3rem;
        margin-left: 2rem;
        font-weight: bold;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container {
        display: flex;
        justify-content: space-around;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container .sticker_figure {
        margin: 0;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container .sticker_figure .img_sticker {
        width: 120px;
        height: 60px;
        background-color: #a8a8a8;
        object-fit: cover;
        border-radius: 10px;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .sticker_status .status_title {
        color: #4b73bd;
        font-size: clamp(14px, 1rem, 1.2rem);
        text-transform: capitalize;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group .group_title {
        font-size: clamp(13px, 0.6rem, 1.2rem);
        color: #4b73bd;
        text-transform: capitalize;
        font-weight: 700;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group .group_input {
        padding: 0.2rem 0.2rem 0.2rem 0.6rem;
        color: #56565a;
        border-radius: 5px;
        border: solid 1px #a5a5a5;
        width: 90%;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .btn_container_send {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .Create_sticker .sticker_container {
        border-radius: 10px;
        padding: 0 1.8rem;
        padding-bottom: 1.9rem;
        max-width: 1100px;
    }

    .Create_sticker .sticker_container .back_btn_container {
        margin-bottom: 0.3rem;
    }

    .Create_sticker .sticker_container .back_btn_container .back_btn {
        color: #fff;
        font-size: clamp(14px, 1.3rem, 1.5rem);
        text-decoration: none;
        position: relative;
        margin-left: -0.8rem;
    }

    .Create_sticker .sticker_container .back_btn_container .back_btn::before {
        left: 0;
        top: 0;
        color: #e57d00;
        font-weight: bold;
    }

    .Create_sticker .sticker_container .title {
        color: #fff;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .Create_sticker .sticker_container .card {
        position: relative;
        height: unset;
        background-color: white;
        min-width: 400px;
        margin: auto;
        padding: 0.7rem 0.7rem;
        bottom: 10px;
        border-radius: 10px;
        width: clamp(100%, 60%, 300px);
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .sticker_title {
        font-size: clamp(14px, 1rem, 1.2rem);
        color: #4b73bd;
        margin-bottom: 0.3rem;
        margin-left: 2rem;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container {
        display: flex;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container .sticker_figure {
        margin: 0;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .images_container .sticker_figure .img_sticker {
        width: 120px;
        height: 60px;
        background-color: #a8a8a8;
        object-fit: cover;
        border-radius: 10px;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .sticker_status .status_title {
        color: #4b73bd;
        font-size: clamp(14px, 1rem, 1.2rem);
        text-transform: capitalize;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group .group_title {
        font-size: clamp(13px, 0.6rem, 1.2rem);
        color: #4b73bd;
        text-transform: capitalize;
        font-weight: 700;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .form_group .input_group .group_input {
        padding: 0.2rem 0.2rem 0.2rem 0.6rem;
        color: #56565a;
        border-radius: 5px;
        border: solid 1px #a5a5a5;
        width: 90%;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .btn_container_send {
        flex-direction: row;
    }

    .Create_sticker .sticker_container .card .stickers_container .card_sticker .btn_container_send .btn_send {
        width: 160px;
        padding: 0.5rem 1rem;
        background-color: #e57d00;
        border: none;
        color: white;
        letter-spacing: 1px;
        border-radius: 5px;
        font-size: 14.5px;
    }
}


.is_invalid {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url(/img/svgRequired.svg) !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
    outline: #dc3545 !important;
}


.invalid_feedback {
    margin-bottom: 2rem;
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}


/*# sourceMappingURL=create_sticker.css.map */