.header {
  min-height: 2.5rem;
  background-color: rgb(238, 238, 238);
  .header_conent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5rem;

    button {
      background-color: transparent;
      border: none;
    }

    .close_session {
      &.active .span .submenu {
        display: block;
      }

      position: absolute;
      right: 5%;
      top: calc(50% - 14px);

      .span {
        position: relative;

        .submenu {
          display: none;
          background-color: #eeeeee;
          position: absolute;
          right: 0;
          bottom: -110px;
          width: 200px;
          border-radius: 5px;
          -webkit-box-shadow: 0px 6px 12px 1px rgb(94, 94, 94);
          -moz-box-shadow: 0px 6px 12px 1px rgb(94, 94, 94);
          box-shadow: 0px 6px 12px 1px rgb(94, 94, 94);

          .sub_ul {
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .sub_li {
              list-style: none;

              .sub_link {
                text-decoration: none;
                color: #ff6e00;
                display: block;
                padding: 5px 2px;
                display: block;
                border-bottom: 1px #cfcfcf solid;

                &:hover {
                  background-color: #cfcfcf;
                }
              }
            }
          }
        }
      }
    }

    .expand_nav {
      position: absolute;
      left: 5%;
      top: calc(50% - 14px);
    }

    .header_logo {
    }
  }

  .menu {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.363);
    z-index: 1500;
    &.open {
      display: block;
    }
    .menu_container {
      background-color: rgb(252, 252, 252);
      height: 100%;
      width: 100%;
      padding: 1.5rem;
      max-height: 600px;
      .navegation {
        margin: 0;
        padding: 0;
        height: 100%;

        .nav_ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          height: 100%;
          .nav_li {
            list-style: none;
            width: 100%;
            text-align: center;
            position: relative;

            &.selected {
              background-color: #dbdbdb;
              padding: 10px 10px 0 10px;
              border-radius: 10px 10px 0 0;
              -webkit-animation: scale-up-ver-bottom 0.4s
                cubic-bezier(0.39, 0.575, 0.565, 1) both;
              animation: scale-up-ver-bottom 0.4s
                cubic-bezier(0.39, 0.575, 0.565, 1) both;
            }

            &.selected .submenu {
              display: block;
            }

            .open_icon {
              position: absolute;
              background-color: transparent;
              border: none;
              cursor: pointer;
              right: 5px;
            }

            .nav_link {
              text-decoration: none;
              font-size: clamp(12px, 1.4rem, 1.6rem);
              color: #2f2f2f;
              text-transform: capitalize;
              text-align: center;
              font-weight: 600;
              &.active {
                border-bottom: solid 2px #ff6e00;
              }
              &:hover {
                color: #ff6e00;
              }
            }

            .submenu {
              display: none;
              background-color: #dbdbdb;
              padding: 10px 0;
              .sub_ul {
                padding: 0;
                .sub_li {
                  margin-bottom: 10px;
                  list-style: none;
                  text-align: center;
                  .sub_link {
                    text-decoration: none;
                    color: #085b9c;
                    font-size: clamp(10px, 1.1rem, 1.3rem);

                    &.active {
                      border-bottom: solid 2px #4b4b4b;
                    }
                    &:hover {
                      color: #1b1b1b;
                      background-color: #dbdbdb;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    min-height: 4rem;
    .header_conent {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 4rem;
      .close_session {
        position: absolute;
        right: 5%;
        top: calc(50% - 14px);
        cursor: pointer;

        .span {
          position: relative;

          .submenu {
            display: none;
            background-color: #dbdbdb;
            position: absolute;
            right: 0;
            bottom: -120px;
            z-index: 3;
            width: 200px;

            .sub_ul {
              padding: 0 10px;

              .sub_li {
                list-style: none;

                .sub_link {
                  text-decoration: none;
                  color: #ff6e00;
                  display: block;
                }
              }
            }
          }
        }
      }

      .header_logo {
      }
    }

    .menu {
      position: absolute;
      width: 100%;
      height: calc(100% - 64px);
      background-color: rgba(0, 0, 0, 0.363);

      .menu_container {
        background-color: rgb(252, 252, 252);
        height: 100%;
        width: 290px;
        padding: 1.5rem;
        max-width: 360px;
        max-height: unset;
        .navegation {
          margin: 0;
          padding: 0;
          height: 100%;

          .nav_ul {
            margin: 0;
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 4rem;
            height: 100%;
            .nav_li {
              list-style: none;

              .nav_link {
                text-decoration: none;
                font-size: clamp(12px, 1.4rem, 1.6rem);
                color: #2f2f2f;
                text-transform: capitalize;
                text-align: center;
                &.active {
                  border-bottom: solid 2px #ff6e00;
                }
                &:hover {
                  color: #ff6e00;
                }
              }

              .open_icon {
                position: absolute;
                background-color: transparent;
                border: none;
                cursor: pointer;
                right: 0px;
              }
            }
          }
        }
      }
    }
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2023-6-28 12:54:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
