.list_card {
  position: relative;
  padding: 5px 20px 5px 5px;
  width: clamp(240px, 240px, 280px);
  max-width: 240px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(189, 189, 189, 1);
  box-shadow: 0px 3px 5px 0px rgba(189, 189, 189, 1);
  flex: 1;
  .btn_eliminar {
    background-color: #e57d00;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    padding: 2px;
    position: absolute;
    top: 20px;
    right: 5px;
  }

  .row {
    &:last-child {
      margin-bottom: 0;
    }
   
    padding-right: 10px;
    margin-bottom: 10px;
    .list_title {
      font-size: 14px;
      color: #4b73bd;
      margin-right: 5px;
      font-weight: bold;
    }
    .text {
      font-size: 12px;
      color: #3b3b3b;
      
    }
  }
}

.BackColor{
  padding: 2px;
  background-color: #d6d6d6;
  box-shadow: 0px 3px 5px 0px rgb(143, 143, 143);
  margin-bottom: 5px;
  margin-left: 4px;
  min-width: 104%;
}