.skeleton {
  .skeleton_card {
    .tile_w100 {
      display: block;
      background-color: rgba(255, 255, 255, 0.13);
      height: auto;
      margin-top: 0px;
      margin-bottom: 0px;
      transform-origin: 0px 55%;
      transform: scale(1, 0.6);
      border-radius: 4px / 6.7px;
      animation: 1.5s ease-in-out 0.5s infinite normal none running
        animation-c7515d;
    }
    .title_w50 {
    }
    .cirle {
    }
  }
}

@-webkit-keyframes animation-c7515d {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-c7515d {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animation-c7515d {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-c7515d {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
