.sticker_info {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  background-image: url("https://images.unsplash.com/photo-1604313890727-5542ff314405?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.sticker_info .info_container {
  background-color: rgba(20, 20, 20, 0.664);
  max-width: 700px;
  border-radius: 10px;
  padding: 1rem 1.2rem;
}

.sticker_info .info_container .back_btn_container {
  margin-bottom: 0.3rem;
}

.sticker_info .info_container .back_btn_container .back_btn {
  color: #fff;
  font-size: clamp(14px, 1.1rem, 1.3rem);
  text-decoration: none;
  position: relative;
  margin-left: -0.8rem;
}

.sticker_info .info_container .back_btn_container .back_btn::before {
  content: "<";
  font-size: 1.4rem;
  left: 0;
  top: 0;
  color: #e57d00;
  font-weight: bold;
  margin-right: 10px;
}

.sticker_info .info_container .title {
  font-size: clamp(20px, 1.7rem, 1.8rem);
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: center;
}

.sticker_info .info_container .card {
  position: relative;
  background-color: white;
  max-width: 90%;
  min-width: 260px;
  margin: auto;
  padding: 1.5rem 0.7rem;
  bottom: 10px;
  border-radius: 10px;
}

.sticker_info .info_container .card .stickers_container .card_content .card_sticker {
  border-bottom: solid 4px #e57d00;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.sticker_info .info_container .card .stickers_container .card_content .card_sticker .sticker_title {
  font-size: clamp(13px, 0.6rem, 1.2rem);
    color: #4b73bd;
    text-transform: capitalize;
    font-weight: 700;
}

.sticker_info .info_container .card .stickers_container .card_content .card_sticker .images_container .sticker_number {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0;
}

.sticker_info .info_container .card .stickers_container .card_content .card_sticker .images_container .sticker_number .info_sticker {
  width: 80%;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: #505050;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.sticker_info .info_container .card .stickers_container .card_content .card_sticker .images_container .sticker_number .photo {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  background-color: #e57d00;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0 5px;
}


.sticker_info .info_container .card .stickers_container .card_content .card_sticker .images_container .sticker_number .Edit_icon {
  padding: 6px;
  border-radius: 50px;
  background-color: #e57d00;
  border: none;
  position: absolute;
  right: 10px;
  top: 5.6rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  padding-right: 30px;


}

.sticker_info .info_container .card .stickers_container .card_content .card_body .Edit_icon {
  position: absolute;
  background-color: #e57d00;
  border-radius: 50%;
  padding: .5rem;
  right: 0;
  top: calc(50% - 25px);
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .sticker_status .status_title {
  font-size: clamp(13px, 0.6rem, 1.2rem);
    color: #4b73bd;
    text-transform: capitalize;
    font-weight: 700;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .sticker_status .status {
  margin-left: 1rem;
  font-size: clamp(14px, 1rem, 1.2rem);
  position: relative;
  color: #a8a8a8;
  padding-left: 20px;
  text-transform: capitalize;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .sticker_status .status .status_icon {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ff6e00;
  border-radius: 70px;
  left: 0;
  top: 30%;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .sticker_status .status .status_icon.active {
  background: #009c7f;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .date_group .date_title {
  font-size: clamp(13px, 0.6rem, 1.2rem);
    color: #4b73bd;
    text-transform: capitalize;
    font-weight: 700;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .date_group .group_date {
  display: block;
  color: #505050;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_title {
  font-size: clamp(13px, 0.6rem, 1.2rem);
  color: #4b73bd;
  text-transform: capitalize;
  font-weight: 700;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_result {
  display: block;
  color: #505050;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_result.interno {
  color: #009c7f;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_result.nointerno {
  color: #e57d00;
}

.sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_textarea {
  padding-left: 10px;
  border: none;
  width: 100%;
}

.sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_title {
  color: #e57d00;
}

.sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_title {
  font-size: clamp(13px, 0.6rem, 1.2rem);
  color: #4b73bd;
  text-transform: capitalize;
  font-weight: 700;
}

.sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_result {
  display: block;
  color: #505050;
}

.sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_result.interno {
  color: #009c7f;
}

.sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_result.nointerno {
  color: #e57d00;
}

.sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_textarea {
  padding-left: 10px;
  border: none;
  width: 100%;
}

.sticker_info .info_container .card .stickers_container .card_content .result .result_title {
  color: #e57d00;
}

.sticker_info .info_container .card .stickers_container .card_content .result .result_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.sticker_info .info_container .card .stickers_container .card_content .result .result_body .card_group .group_title {
  font-size: clamp(13px, 0.6rem, 1.2rem);
    color: #4b73bd;
    text-transform: capitalize;
    font-weight: 700;
}

.sticker_info .info_container .card .stickers_container .card_content .result .result_body .card_group .group_result {
  display: block;
  color: #505050;
}

.sticker_info .info_container .card .stickers_container .card_content .result .result_body .card_group .group_result.interno {
  color: #009c7f;
}

.sticker_info .info_container .card .stickers_container .card_content .result .result_body .card_group .group_result.nointerno {
  color: #e57d00;
}

.sticker_info .info_container .card .stickers_container .card_content .result .result_body .group_textarea {
  padding-left: 10px;
  border: none;
  width: 100%;
}

.sticker_info .info_container .card .stickers_container .card_content .btn_container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.sticker_info .info_container .card .stickers_container .card_content .btn_container .btn_follow_up {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #e57d00;
  border: none;
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 14.5px;
  box-shadow: 0px 3px 5px 0px rgb(173, 173, 173);
  text-decoration: none;
  text-align: center;
}

@media (min-width: 768px) {
  .sticker_info {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    background-image: url("https://images.unsplash.com/photo-1604313890727-5542ff314405?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sticker_info .info_container {
    background-color: rgba(20, 20, 20, 0.664);
    max-width: 700px;
    border-radius: 10px;
    padding: 1rem 1.2rem;
  }

  .sticker_info .info_container .back_btn_container {
    margin-bottom: 0.3rem;
  }

  .sticker_info .info_container .back_btn_container .back_btn {
    color: #fff;
    font-size: clamp(14px, 1.1rem, 1.3rem);
    text-decoration: none;
    position: relative;
    margin-left: -0.8rem;
  }

  .sticker_info .info_container .back_btn_container .back_btn::before {
    content: "<";
    font-size: 1.4rem;
    left: 0;
    top: 0;
    color: #e57d00;
    font-weight: bold;
    margin-right: 10px;
  }

  .sticker_info .info_container .title {
    font-size: clamp(20px, 1.7rem, 1.8rem);
    color: #fff;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .sticker_info .info_container .card {
    position: relative;
    background-color: white;
    max-width: 90%;
    min-width: 260px;
    margin: auto;
    padding: 1.5rem 0.7rem;
    bottom: 10px;
    border-radius: 10px;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_sticker {
    border-bottom: solid 4px #e57d00;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_sticker .sticker_title {
    font-size: clamp(14px, 1rem, 1.2rem);
    color: #4b73bd;
    margin: 0.3rem 0;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_sticker .images_container .sticker_number {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_sticker .images_container .sticker_number .info_sticker {
    width: 80%;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0.5rem;
    color: #505050;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_sticker .images_container .sticker_number .photo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .sticker_status .status_title {
    color: #4b73bd;
    font-size: clamp(14px, 1rem, 1.2rem);
    text-transform: capitalize;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .sticker_status .status {
    margin-left: 1rem;
    font-size: clamp(14px, 1rem, 1.2rem);
    position: relative;
    color: #a8a8a8;
    padding-left: 20px;
    text-transform: capitalize;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .sticker_status .status .status_icon {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ff6e00;
    border-radius: 70px;
    left: 0;
    top: 30%;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .sticker_status .status .status_icon.active {
    background: #009c7f;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .date_group .date_title {
    font-size: clamp(14px, 1rem, 1.2rem);
    color: #4b73bd;
    margin: 0;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .date_group .group_date {
    display: block;
    color: #505050;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_title {
    font-size: clamp(14px, 1rem, 1.2rem);
    color: #4b73bd;
    margin: 0;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_result {
    display: block;
    color: #505050;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_result.interno {
    color: #009c7f;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_result.nointerno {
    color: #e57d00;
  }

  .sticker_info .info_container .card .stickers_container .card_content .card_body .card_group .group_textarea {
    padding-left: 10px;
    border: none;
    width: 100%;
  }

  .sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_title {
    color: #e57d00;
  }

  .sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_title {
    font-size: clamp(14px, 1rem, 1.2rem);
    color: #4b73bd;
    margin: 0;
  }

  .sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_result {
    display: block;
    color: #505050;
  }

  .sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_result.interno {
    color: #009c7f;
  }

  .sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_result.nointerno {
    color: #e57d00;
  }

  .sticker_info .info_container .card .stickers_container .card_content .follow_up .follow_up_body .card_group .group_textarea {
    padding-left: 10px;
    border: none;
    width: 100%;
  }

  .sticker_info .info_container .card .stickers_container .card_content .result .result_title {
    color: #e57d00;
  }

  .sticker_info .info_container .card .stickers_container .card_content .result .card_group .group_title {
    font-size: clamp(14px, 1rem, 1.2rem);
    color: #4b73bd;
    margin: 0;
  }

  .sticker_info .info_container .card .stickers_container .card_content .result .card_group .group_result {
    display: block;
    color: #505050;
  }

  .sticker_info .info_container .card .stickers_container .card_content .result .card_group .group_result.interno {
    color: #009c7f;
  }

  .sticker_info .info_container .card .stickers_container .card_content .result .card_group .group_result.nointerno {
    color: #e57d00;
  }

  .sticker_info .info_container .card .stickers_container .card_content .btn_container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .sticker_info .info_container .card .stickers_container .card_content .btn_container .btn_follow_up {
    width: 40%;
    padding: 0.5rem 1rem;
    background-color: #e57d00;
    border: none;
    color: white;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 14.5px;
    box-shadow: 0px 3px 5px 0px rgb(173, 173, 173);
  }
}

/*# sourceMappingURL=stickerInfo.css.map */